<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="TargetSystems" type="CustomConfig.ICustomConfigReader, CustomConfig" />
  </configSections>
  <appSettings>
    <!--<add key="IntegratorKey" value="QTES-f79957b2-9fee-4b1c-8858-80e57adfbb8e" />-->
    <!--<add key="WebServiceUrl" value="https://test1.docusign.net/restapi/v2" />
    <add key="IntegratorKey" value="DSQA-12345" />
    <add key="DistributorCode" value="CLFK" />
    <add key="DistributorPassword" value="password" />
    <add key="PlanId" value="61e85f0c-38e2-45c0-8571-ce55f423ee04"/>-->
    <!--<add key="WebServiceUrl" value="https://test.docusign.net/restapi/v2" />
    <add key="IntegratorKey" value="DOCU-f74744f1-b500-46d5-b9a4-e562e443bbc8" />
    <add key="DistributorCode" value="DocuSignCRMSOBO - GDrive" />
    <add key="DistributorPassword" value="dsCRMInteg$" />
    <add key="PlanId" value="75c175ce-65d9-47a9-ac0c-6a83ccc976ed"/>-->
    <!-- preview settings--><!--
    <add key="WebServiceUrl" value="https://preview.docusign.net/restapi/v2" />
    <add key="IntegratorKey" value="DOCU-f74744f1-b500-46d5-b9a4-e562e443bbc8" />
    <add key="DistributorCode" value="DocuSignCRMSOBO - GApps"/>
    <add key="DistributorPassword" value="dsCRMInteg$" />-->
    <!-- test zero settings-->
    <!--<add key="WebServiceUrl" value="https://test.docusign.net/restapi/v2"/>
    <add key="IntegratorKey" value="DOCU-d167c447-9038-4c90-bb53-75506d28bd02"/>
    <add key="DistributorCode" value="DocuSignCRMSOBO - GApps"/>
    <add key="DistributorPassword" value="dsCRMInteg$"/>
    <add key="PlanId" value="536c4392-5264-4023-a3c1-f467c45b4925"/>-->
    <!-- Demo settings--><!--
    <add key="WebServiceUrl" value="https://demo.docusign.net/restapi/v2" />
    <add key="IntegratorKey" value="DOCU-d167c447-9038-4c90-bb53-75506d28bd02" />
    <add key="DistributorCode" value="DocuSignCRMSOBO - GApps"/>
    <add key="DistributorPassword" value="dsCRMInteg$" />
    <add key="PlanId" value="c276c25d-2ed7-4661-b6be-152d2e4697a3"/>-->
    <!-- LocalHost settings-->
    <!--<add key="WebServiceUrl" value="http://localhost/restapi/v2" />
    <add key="IntegratorKey" value="DOCU-d167c447-9038-4c90-bb53-75506d28bd02" />
    <add key="DistributorCode" value="DocuSignCRMSOBO - GApps"/>
    <add key="DistributorPassword" value="dsCRMInteg$" />
    <add key="PlanId" value="d9d3b4e9-ddef-40a9-99b5-5f656995db82"/>-->

    <!--<add key="DistributorCode" value="DSX2012" />
    <add key="DistributorPassword" value="docusign" />-->
    <!--<add key="PlanId" value="17331552-E680-4F8E-9E8E-C3E2D91547CF"/>-->
    <!--<add key="PlanId" value="8844269C-BE6D-4B33-9D9F-F4895FDBBB16"/>-->
    <!--<add key="PlanId" value="2339B430-BDA9-4EA2-B4A2-233D7EEC4012" />-->
    <!--<add key="FeatureSetId" value="1000" />-->
    <add key="EmailBlurb" value="Please DocuSign This Document"/>
    <add key="EmailSubject" value="Please DocuSign This Document"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <TargetSystems use="LocalHost">
    <LocalHost>
      <IntegratorKey>DOCU-d167c447-9038-4c90-bb53-75506d28bd02</IntegratorKey>
      <WebServiceUrl>http://localhost/restapi/v2</WebServiceUrl>
      <DistributorCode>DocuSignCRMSOBO - GDrive</DistributorCode>
      <DistributorPassword>dsCRMInteg$</DistributorPassword>
      <PlanId>D9D3B4E9-DDEF-40A9-99B5-5F656995DB82</PlanId>
      <EmailBlurb>Please DocuSign This Document from Localhost</EmailBlurb>
      <EmailSubject>Please DocuSign This Document from Localhost</EmailSubject>
      <FeatureSetId></FeatureSetId>
    </LocalHost>
    <Test0>
      <IntegratorKey>DOCU-d167c447-9038-4c90-bb53-75506d28bd02</IntegratorKey>
      <WebServiceUrl>https://test.docusign.net/restapi/v2</WebServiceUrl>
      <DistributorCode>DocuSignCRMSOBO - GDrive</DistributorCode>
      <DistributorPassword>dsCRMInteg$</DistributorPassword>
      <PlanId>75c175ce-65d9-47a9-ac0c-6a83ccc976ed</PlanId>
      <EmailBlurb>Please DocuSign This Document from test0</EmailBlurb>
      <EmailSubject>Please DocuSign This Document from test0</EmailSubject>
      <FeatureSetId></FeatureSetId>
    </Test0>
    <Test1>
      <IntegratorKey>DOCU-d167c447-9038-4c90-bb53-75506d28bd02</IntegratorKey>
      <WebServiceUrl>https://test1.docusign.net/restapi/v2</WebServiceUrl>
      <DistributorCode>DocuSignCRMSOBO - GDrive</DistributorCode>
      <DistributorPassword>dsCRMInteg$</DistributorPassword>
      <PlanId>58cbc33a-a0da-4744-93c4-21646f3a7377</PlanId>
      <EmailBlurb>Please DocuSign This Document from test1</EmailBlurb>
      <EmailSubject>Please DocuSign This Document from test1</EmailSubject>
      <FeatureSetId></FeatureSetId>
    </Test1>
    <Test2>
      <IntegratorKey>DOCU-f74744f1-b500-46d5-b9a4-e562e443bbc8</IntegratorKey>
      <WebServiceUrl>https://test2.docusign.net/restapi/v2</WebServiceUrl>
      <DistributorCode>DocuSignCRMSOBO - GDrive</DistributorCode>
      <DistributorPassword>dsCRMInteg$</DistributorPassword>
      <PlanId>1d83b66b-f5d5-4ee4-9776-5c94d7570d78</PlanId>
      <EmailBlurb>Please DocuSign This Document from test2</EmailBlurb>
      <EmailSubject>Please DocuSign This Document from test2</EmailSubject>
      <FeatureSetId></FeatureSetId>
    </Test2>
  </TargetSystems>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
